.wra{
	width:1200px;
	margin:0 auto;
	border:2px solid #e6e6e6;
	margin-top:20px;
}
.myrow{
	margin-top:15px;
}
.one .people{
	padding-right:0px ;
	position: relative;
}
.one .people img{
	width:882px;
	height:124px;
}
.user{
	position: absolute;
	top:24px;
	right:15px;
	font:20px/24px "ºÚÌå";
	text-align: right;
	font-weight: bold;
	color:#fff;
}
.user div a{
	color:#fff;
	text-align: right;
}
.panel-body a{
	display:block;
	font:18px/32px "ºÚÌå";
}
.panel-body a:hover{
	color:red;
}

.logo img{
	width: 269px;
	height:124px;
}
.bottom{
	width:100%;
	background:blue;
}
.bottom p{
	font:20px/50px "ºÚÌå";
	color:#fff;
	text-align: center;
}
